{% extends "base.html" %}

{% block body %}
         <h3>Dashboard</h3>
      <div class="container">

         <form action = "{{ url_for('dashboard') }}" method = post class="form-inline">
            {{ form.hidden_tag() }}
            
            <div>
              <div class="form-group">
               {{ form.cmp.label(class="form-control-label") }}
                   <select class="form-control" id="cmp" name="cmp">
                       {% for cmp in list_companies %}
                           <option value="{{cmp.id}}">{{cmp.name}}</option>
                       {% endfor %}
                   </select>
              </div>
<div class="form-group"></div>
              <div class="input-group input-daterange">
               {{ form.from_date(class="form-control") }}
<div class="input-group-addon">to</div>
               {{ form.to_date(class="form-control") }}
              </div>
               {{ form.submit(class="btn btn-primary") }}
            </div>
         </form>
          {% if form_name == 'edit' %}
          <div class="ln_solid"></div>

          <div class="row">
              <div id="container" class="col-sm-3 col-md-6 col-lg-4"></div>
              <div class="col-sm-3 col-md-6 col-lg-4">
                  <h4> Top Customers </h4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>LY YTD</th>
                        <th>CY YTD</th>
                        <th>YTD %</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for cmp in top_customers %}
                      <tr>
                        <td>{{ cmp.name }}</td>
                        <!--<td>{{ cmp.ly }}</td>-->
                        <!--<td>{{ cmp.cy }}</td>-->
                        <!--<td>62.65</td>-->
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class="col-sm-3 col-md-6 col-lg-4">
                  <h4> Top Categories </h4>
                  <table class="table">
                    <thead>
                    {% for cat in top_categories %}
                      <tr>
                        <td>{{ cat.name }}</td>
                        <td>12.58</td>
                        <td>{{ cat.cy }}</td>
                        <td>62.65</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
          <div class="ln_solid"></div>
          <div class="row">
              <div id="container1" class="col-sm-3 col-md-6 col-lg-4"></div>
              <div id="container2" class="col-sm-3 col-md-6 col-lg-4"></div>
              <div id="container3" class="col-sm-3 col-md-6 col-lg-4"></div>
          </div>
          {% endif %}
      </div>
{% endblock %}
{% block static %}
<script>
  $(document).ready(function(){
   $('#from_date').attr("placeholder", "From Date");
   $('#from_date').datepicker({'dateFormat': 'mm/dd/yy'});
   $('#to_date').attr("placeholder", "To Date");
   $('#to_date').datepicker({'dateFormat': 'mm/dd/yy'});
{% if form_name == 'edit' %}
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sales'
    },
    xAxis: {{ xAxis1|safe }},
    yAxis: {
        min: 0,
        title: {
            text: 'Sales'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{ series1|safe }}
});


Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sales Quarter 2017 Vs 2018'
    },
    xAxis: {
        categories: [
            'Q 1',
            'Q 2',
            'Q 3',
            'Q 4',
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Sales Quarter'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{ series2|safe }},
});

Highcharts.chart('container2', {
    title: {
        text: 'Category YTD Vs LY'
    },
    xAxis: {
        categories: {{ xAxis3|safe }}
    },
    labels: {
        items: [{
            html: '',
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: {{ series3|safe }}
});

Highcharts.chart('container3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Category Mix YTD'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: {{ pie_chart_data| safe }}
    }]
});
{% endif %}
    });
</script>
{% endblock %}